* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: showContent 1.5s forwards;
}


.logo img {
    width: 200px;
    height: 150px;
    margin-top: 10px;
}

@keyframes showContent {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s;
    color: #fff;
    text-decoration: none;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: #AAFF00;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}

.home-info h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.home-info h2 {
    font-size: 32px;
    margin: 0;
    height: 40px;
    position: relative;
    line-height: 1;
}

.home-info h2 span {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    animation: rotateText 9s infinite;
    white-space: nowrap;
}

@keyframes rotateText {
    0%, 33.333% { opacity: 0; transform: translateY(-100%); }
    3.333%, 30% { opacity: 1; transform: translateY(0); }
    33.333%, 100% { opacity: 0; transform: translateY(100%); }
}

.home-info h2 span:nth-child(1) { animation-delay: 0s; }
.home-info h2 span:nth-child(2) { animation-delay: 3s; }
.home-info h2 span:nth-child(3) { animation-delay: 6s; }

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background: #AAFF00;
    border-radius: 40px;
    box-shadow: 0 0 10px #AAFF00;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: 0.5s;
    text-decoration: none;
}

.btn:hover {
    background: transparent;
    color: #AAFF00;
    box-shadow: none;
}

.sci {
    margin-left: 20px;
}

.sci a {
    display: inline-flex;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    border: 2px solid #AAFF00;
    color: #AAFF00;
    margin: 0 8px;
    transition: 0.5s;
    text-decoration: none;
}

.sci a:hover {
    background: #AAFF00;
    color: #1f242d;
    box-shadow: 0 0 10px #AAFF00;
}

.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #AAFF00);
    animation: rotateBorder 4s linear infinite;
}

.home-img .img-box::after {
    animation-delay: -2s;
}

@keyframes rotateBorder {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: .1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.img-item img {
    position: absolute;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.bar-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bar-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;
    transform: translateY(-100%);
    animation: show-bars 0.5s ease-in-out forwards;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes show-bars {
    100% { transform: translateY(0); }
}